<p id="notice"><%= notice %></p>
<%= link_to 'New Group', new_group_path, class:"text-right btn btn-outline-success btn-sm text-dark"%>
<h1 class ="text-center bg-white font-italic">
  Groups
</h1>

<table class="table table-striped" style="margin-left: 0px">
  <thead>
    <tr>
      <th>メーカー</th>
      <th>セットの名前</th>
      <th class="text-center" colspan="3">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.user.name %></td>
        <td><%= group.name %></td>
        <td><%= link_to 'Show', group, class:"btn btn-sm btn-outline-primary btn-sm" %></td>
        <td><%= link_to 'Edit', edit_group_path(group), class:"btn btn-sm btn-outline-warning btn-sm" %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-outline-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


