<p id="notice"><%= notice %></p>

<div class="card text-center">
  <div class="card-header">
    Creater: <%= @group.user.name %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><strong><%= @group.name %></strong></h5>
  </div>
  <div class="card-footer text-muted">
    Created at <%= @group.created_at %>
  </div>
</div>


<table class="table table-striped" style="margin-left: 0px">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class ="text-center">言葉</th>
      <th scope="col" class ="text-center" colspan="6">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td>
          <div class="card">
            <div id="show-back-<%= card.id %>" class="card-body text-primary font-weight-bold">
              <%= card.front_side %>
            </div>
          </div>
        </td>
        <td><%= link_to 'Detail', card, class:"btn btn-outline-secondary btn-sm" %></td>
        <td><button onclick="myFunction(<%= card.id %>, '<%= card.back_side %>', '<%= card.front_side %>')" type="button" class="btn btn-outline-primary btn-sm">Quick view</button><td>
        <td><%= link_to 'Edit', edit_card_path(card), class:"btn btn-outline-warning btn-sm" %></td>
        <td><%= link_to 'Destroy', card, method: :delete, class:"btn btn-outline-danger btn-sm", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>

<script>

function myFunction(id, mean, term) {
  console.log(mean);
  var element = document.getElementById("show-back-"+id);
  if($(element).hasClass( "text-primary" ) == true)
  {
    $(element).removeClass("text-primary");
    $(element).addClass("text-success");
    $(element).text(mean);
  }else{
    $(element).addClass("text-primary");
    $(element).removeClass("text-success");
    $(element).text(term);
  }
}
</script>
