<%= form_with(model: card, local: true) do |form| %>
  <% if card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
        <% card.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "言葉", class:"text-blod" %>
    <%= form.text_field :front_side, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label "意味"%>
    <%= form.text_field :back_side, class:"form-control" %>
  </div>
  
  <div class="field">
    <%= form.label "イラストの画像", class:"text-blod" %>
    <%= form.file_field :picture, class:"form-control" %>
  </div>
  
  <div class="field">
    <%= form.label "セット" %>
    <%= select_tag :group_id, options_for_select(@group.collect{ |g| [g.name, g.id] }), prompt: "Select Set", class: 'form-control' %>
  </div>
  

  <div class="actions">
    <p class="btn btn-secondary btn-block"><%= form.submit %></p>
  </div>
<% end %>
