<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <% if @card.picture.attached? %>
        <%= image_tag @card.picture, style:"height: 350px" %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= @card.group.name %></h5>
        <p class="card-text">By <%= @card.user.name %> at <%= @card.created_at %></p>
      </div>
    </div>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>言葉</strong>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= @card.front_side %></h5>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <strong>意味</strong>
      </div>
    <div class="card-body">
    <h5 class="card-title"><%= @card.back_side %></h5>
    </div>
  </div>
  </div>
</div>
<h3 class ="text-center bg-white font-italic">このカード、どう？</h3>
 <%= form_with(model: @card_review, local: true) do |form| %>
   <div class= "field">
     <%= form.text_area :review, class:"form-control" %>
     <%= form.hidden_field :card_id, :value => @card.id %>
   </div>
   <div class="actions">
     <p class="btn btn-secondary btn-sm"><%= form.submit %></p>
   </div>
 <% end %>
 <h4 class ="text-center bg-white font-italic">読者 コーナー</h4>
  <% @card.card_review.each do |card_review|%>
    <div class="media">
      <% if card_review.user.avatar.attached? %>
        <%= image_tag card_review.user.avatar, class:"align-self-start mr-3", style:"width:64px; height:64px"%>
      <% end %>
      <div class="media-body">
        <h5 class="mt-0"><%= card_review.user.name %></h5>
        <p><%= card_review.review %></p>
      </div>
    </div>
  <% end %>
  
  
  
<br></br>
<div class="row text-white">
  <div class="col-md-6 text-light">
    <%= link_to 'Edit', edit_card_path(@card), class:"btn btn-sm btn-outline-secondary btn-block" %>
  </div>
  <div class="col-md-6">
    <%= link_to 'Back', cards_path, class:"btn btn-sm btn-outline-secondary btn-block" %>
  </div>
</div>


